body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
  
}

p, h1, h2 {
    margin: 0;
    padding: 0;
}

.MemoryGameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header h1 {
    text-decoration-line:overline;
}
.cardContainer {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
   gap: 10px;
   
}
.card {
    width: 350px;
    height: 350px;
    cursor:pointer;
    border-radius: 25px;
}

.active {
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.inactive {
    opacity: 0;
    transition: all 0.5s ease-in-out;

}

.scoresContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




@media(max-width: 450px) {
    .MemoryGameContainer {
        margin: 0px;
    }

    .cardContainer {
        justify-items: center;
    }


    .card {
        width: 300px;
        height: 300px;
    }

}