body {
    margin: 0;
    padding: 0;
}

.MemoryGameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cardContainer {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
}
.card {
    margin: 0;
    width: 250px;
    height: 250px;
    cursor:pointer;
   
}

.scoresContainer {
    display: flex;
    flex-direction: column;
}

.scoresContainer p {
    margin: 0;
}